body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F0E2; 
    color: #333;
}

header {
    background-image: url(/assets/Firefly\ multiple\ pterodactyl\ silhouettes\ clean\ background\ 80656.jpg);
    background-size: cover;
    background-position: center;
    background-color: #3B3021;
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #556B2F;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #3B3021; 
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
